<div class="container mt-4">
  <h2>Ajouter un Nouvel Équipement</h2>
  <form [formGroup]="equipementForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input id="nom" formControlName="nom" class="form-control" />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input id="description" formControlName="description" class="form-control" />
    </div>

    <div class="form-group">
      <label for="etat">État:</label>
      <select id="etat" formControlName="etat" class="form-control">
        <option value="EN_SERVICE">En service</option>
        <option value="HORS_SERVICE">Hors service</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
