<div class="container">
  <h2>Liste des Équipements</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <button class="btn btn-primary mb-3">  <a class="nav-link" routerLink="/equipments/add">Ajouter un Équipement</a></button>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>État</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipement of equipements">
        <td>{{ equipement.idEquipement }}</td>
        <td>{{ equipement.nom }}</td>
        <td>{{ equipement.description }}</td>
        <td>{{ equipement.etat }}</td>
        <td>
          <button  class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
